/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
    font-family: 'inter';
    src:url(/src/font/Inter-VariableFont_slnt\,wght.ttf);
    
}

/* */

html {
    height: 100%;
    margin: 0;
    padding: 0;

}
body {
    display: grid;
    grid-template-columns: 0.65fr 2.7fr;
    grid-template-rows: minmax(0, 1fr);
    background-image:url("/src/background.jpg");
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Inter';
    color: white

  
}
#leftPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.01);
    mix-blend-mode: normal;
    backdrop-filter: blur(12.5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 0px 15px 15px 0px;
    height: 100%;
    border-right: 2px solid  #ccdcda; 
}
.topPanel {
display: flex;
align-items: center;
justify-content: center;
margin-top: 50px;
}

.tempControl {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.tempControl button {
    background: transparent;
    border: none;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
}
.divider {
    
    height: 0px;
    border: 0.7px outset #849896;
    
    }
.search {
    border: 0.7px solid #849896;
    border-radius: 4px;
    position: relative;

}
.search input {
    border: none;
    height: 41px;
    width: 267px;   
    background: transparent;
    
}
.search input:focus-visible{


}
.magGlass {
width: 21.35px;
height: 20.65px;
margin-right:10px;
background: transparent;
color: #849896;
border: none;
height: 18px;
width: 18px;
margin-right: 20px
}




.forecastToday{
    display: flex;
    flex-direction: column;
align-items: center;
text-align: center;
width: 75%;
margin-top: 25px;

}
.header{
font-style: normal ; 
font-weight: 600 ;
font-size: 20px ;
line-height: 24px;

}
.currentTemp{
    font-style: normal;
    font-weight: 500;
    font-size: 96px;
    line-height: 116px;
    color: white
    
}
.forecast {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 25px;
}
.forecast {
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.daily {
    display: flex;
    height: 56px;

}
li {
    width: 75%;
    list-style: none;
    display: flex;
justify-content: center;
}
.dailyPhoto {
    margin-right: 15px;
}
.dailyWeather {
    margin-right: 25px;
}

